apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-config
  namespace: team-namespace
data:
  spark-defaults.conf: |
    spark.master                     spark://spark-master:7077
    spark.app.name                   EnergyDataAnalytics
    spark.driver.memory              2g
    spark.executor.memory            2g
    spark.executor.cores             2
    spark.sql.adaptive.enabled       true
    spark.sql.adaptive.coalescePartitions.enabled true
    spark.serializer                 org.apache.spark.serializer.KryoSerializer
    spark.sql.catalogImplementation  hive
    spark.dynamicAllocation.enabled  true
    spark.dynamicAllocation.minExecutors 1
    spark.dynamicAllocation.maxExecutors 18
    spark.dynamicAllocation.initialExecutors 2
    spark.eventLog.enabled           true
    spark.eventLog.dir               /opt/spark/logs
  log4j.properties: |
    log4j.rootCategory=INFO, console
    log4j.appender.console=org.apache.log4j.ConsoleAppender
    log4j.appender.console.target=System.err
    log4j.appender.console.layout=org.apache.log4j.PatternLayout
    log4j.appender.console.layout.ConversionPattern=%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n
    log4j.logger.org.sparkproject.jetty=WARN
    log4j.logger.org.sparkproject.jetty.util.component.AbstractLifeCycle=ERROR
    log4j.logger.org.apache.spark.repl.SparkIMain$exprTyper=INFO
    log4j.logger.org.apache.spark.repl.SparkILoop$SparkILoopInterpreter=INFO
    log4j.logger.org.apache.parquet=ERROR
    log4j.logger.parquet=ERROR