apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-master
  namespace: team6
spec:
  replicas: 1
  selector:
    matchLabels:
      component: spark-master
  template:
    metadata:
      labels:
        component: spark-master
    spec:
      serviceAccountName: spark-service-account
      containers:
      - name: spark-master
        image: 192.168.1.211:5000/team6/spark-master:pa3
        imagePullPolicy: Always
        ports:
        - containerPort: 7077
        - containerPort: 8080
        env:
        - name: SPARK_MASTER_HOST
          value: "0.0.0.0"
        - name: SPARK_MASTER_PORT
          value: "7077"
        - name: SPARK_MASTER_WEBUI_PORT
          value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master
  namespace: team6
spec:
  ports:
  - port: 7077
    targetPort: 7077
    name: spark
  - port: 8080
    targetPort: 8080
    name: webui
  selector:
    component: spark-master